.frontpageContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    text-align: center;
}

.frontpageContainer button {
    width: 30%;
    margin-top: 10px;
}

.frontpageLink {
    text-align: center;
    align-content: center;
}